@using DEVICE.Web.Models
@model IEnumerable<PersonaProducto>
@{ 
    var nombreFirma = String.Empty;
    var nombreFoto = String.Empty;
}

<table id="tbPersonaProducto" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Producto</th>
            <th>Fecha Entrega</th>
            <th>Fecha Cambio</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            if (item.PersonaProductoEvidencia.Any(x => x.PersonaProductoId == item.Id && x.Tipo == "S"))
            {
                nombreFirma = item.PersonaProductoEvidencia.Where(x => x.PersonaProductoId == item.Id && x.Tipo == "S").FirstOrDefault().NombreArchivo;
            }
            else {
                nombreFirma = "#";
            }

            if (item.PersonaProductoEvidencia.Any(x => x.PersonaProductoId == item.Id && x.Tipo == "P"))
            {
                nombreFoto = item.PersonaProductoEvidencia.Where(x => x.PersonaProductoId == item.Id && x.Tipo == "P").FirstOrDefault().NombreArchivo;
            }
            else
            {
                nombreFoto = "#";
            }

        <tr>
            <td>@(item.Persona.Nombres + " " + item.Persona.Paterno)</td>
            <td>@(item.Producto.Modelo + " " + item.Producto.NumeroSerie)</td>
            <td>@item.FechaEntrega.Value.ToShortDateString()</td>
            <td>@item.FechaProximaCambio.Value.ToShortDateString()</td>
            <td>@(item.Estado==true?"Asignado":"Liberado")</td>
            <td>
                <button data-id="@item.Id" data-estado="@item.Estado" class="btn btn-warning btnEditarAsignacionEquipo" title="Editar">
                    Editar
                </button>
                @if (nombreFirma != "#")
                {
                    @Html.ActionLink("Firma", "DownloadFile", new { fileName = nombreFirma }, new { @class = "btn btn-success" })
                }
                @if (nombreFoto != "#")
                {
                    @Html.ActionLink("Foto", "DownloadFile", new { fileName = nombreFoto }, new { @class = "btn btn-primary" })
                }
                <button data-id="@item.Id" data-estado="@item.Estado" class="btn btn-success btnCambiarEstado" title="Cambiar Estado">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                    </svg>
                </button>
            </td>
        </tr>

        }

    </tbody>

</table>

<script>

    loadTable()

    function loadTable() {

        var table = $('#tbPersonaProducto').DataTable({
            lengthChange: false,
            buttons:['copy','excel','pdf','colvis']
        });

        table.buttons().container()
            .insertBefore('#tbPersonaProducto_filter');

    }
   
</script>