@using DEVICE.Web.Models
@model IEnumerable<PersonaProducto>
@{
    var nombreFirma = String.Empty;
    var nombreFoto = String.Empty;
}

<h5>Listado Asignacion de Equipos</h5>
<table id="tbPersonaProducto" class="display" style="width:100%">
    <thead>
        <tr>
            <th style="width:20%">Usuario</th>
            <th style="width:20%">Producto</th>
            <th style="width:10%">Fecha Entrega</th>
            <th style="width:10%">Fecha Cambio</th>
            <th style="width:10%">Clasificacion</th>
            <th style="width:10%">Status</th>
            <th style="width:10%"></th>
            <th style="width:10%"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            if (item.PersonaProductoEvidencia.Any(x => x.PersonaProductoId == item.Id && x.Tipo == "S"))
            {
                nombreFirma = item.PersonaProductoEvidencia.Where(x => x.PersonaProductoId == item.Id && x.Tipo == "S").FirstOrDefault().NombreArchivo;

            }
            else
            {
                nombreFirma = "#";

            }

            if (item.PersonaProductoEvidencia.Any(x => x.PersonaProductoId == item.Id && x.Tipo == "P"))
            {
                nombreFoto = item.PersonaProductoEvidencia.Where(x => x.PersonaProductoId == item.Id && x.Tipo == "P").FirstOrDefault().NombreArchivo;
            }
            else
            {
                nombreFoto = "#";
            }

            <tr>
                <td style="width:20%">@(item.Persona.Nombres + " " + item.Persona.Paterno)</td>
                <td style="width:20%">@(item.Producto.Modelo + " " + item.Producto.NumeroSerie)</td>
                <td style="width:10%">@item.FechaEntrega.Value.ToShortDateString()</td>
                <td style="width:10%">@item.FechaProximaCambio.Value.ToShortDateString()</td>
                <td style="width:10%">@(item.Clasificacion.Descripcion)</td>
                <td style="width:10%">@(item.Estado==true?"Asignado":"Liberado")</td>
                <td style="width:10%">
                    <button data-id="@item.Id" data-estado="@item.Estado" class="btn btn-warning btnEditarAsignacionEquipo" title="Editar">
                        Editar
                    </button>

                    @*<button id="btnEliminarAsignacionEquipo"
                            class="btnEliminarAsignacionEquipo btn btn-danger"
                            data-id="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>*@


                </td>

                <td  style="width:10%">
                    <button data-id="@item.Id" data-estado="@item.Estado" class="btn btn-outline-warning btnCambiarEstado" title="Cambiar Estado">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                        </svg>
                    </button>


                    @if (nombreFirma != "#")
                    {
                        @Html.ActionLink("Responsiva", "DownloadFile", new { fileName = nombreFirma }, new { @class = "btn btn-primary" })
                    }
                    @if (nombreFoto != "#")
                    {
                        @Html.ActionLink("Entrega", "DownloadFile", new { fileName = nombreFoto }, new { @class = "btn btn-info" })
                    }



                </td>
            </tr>

        }

    </tbody>

</table>

<script>

    loadTable()

    function loadTable() {

        var table = $('#tbPersonaProducto').DataTable({
            /*lengthChange: false,*/
            buttons: ['copy', 'excel', 'pdf', 'print']
        });

        table.buttons().container()
            .insertBefore('#tbPersonaProducto_filter');

    }

</script>